<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="com.example.nghenhactrctuyn">

    <dist:module dist:instant="true" />

    <uses-permission android:name="android.permission.INTERNET">
        1
    </uses-permission>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Mainactivity.BaihatyeuthichActivity"></activity>
        <activity android:name=".Mainactivity.PlayvideoActiviti" />
        <activity android:name=".Mainactivity.FullAlbumActivity" />
        <activity android:name=".Mainactivity.Theloaitheochude" />
        <activity android:name=".Mainactivity.Danhsachchude" />
        <activity android:name=".Mainactivity.PlaylistActivity" />
        <activity android:name=".Mainactivity.DanhsachbaihatActivity" />
        <activity android:name=".Mainactivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>